<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519110917048-kttd4clctl0k961qr6q4pa1l1g1vfbh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519110917048-kttd4clctl0k961qr6q4pa1l1g1vfbh5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519110917048-eghjanpp1ao4hsf8emn59n5q6p8uil9s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxHzOSSvU_khqoL5bXHPOfRf1xESS952Q</string>
	<key>GCM_SENDER_ID</key>
	<string>519110917048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.responsivedashboard</string>
	<key>PROJECT_ID</key>
	<string>reshop-a42f1</string>
	<key>STORAGE_BUCKET</key>
	<string>reshop-a42f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519110917048:ios:f656287c42f5171e5bed4d</string>
	<key>DATABASE_URL</key>
	<string>https://reshop-a42f1-default-rtdb.firebaseio.com</string>
</dict>
</plist>